// vars
$brand-01: #262626;
$brand-02: #3d3d3d;
$brand-03: #6e6e6e;
$text-01: #262626;
$text-02: #6e6e6e;
$text-03: #9a9a9a;
$ui-01: #f7f7f7;
$ui-02: #f2f2f2;
$ui-03: #e2e2e2;
$ui-04: #484848;
$hover-primary: #ff3e3e;
$hover-secondary: #ad2424;
$hover-row: #f2f2f2;

/**
 * px to rem conversion
 */
 @function calculateRem($size){
    $rem_size: $size / 16px;
    @return #{$rem_size}rem;
}
@mixin font_size($size){
    font-size: $size; // px fallback
    font-size: calculateRem($size);
}
/**
 * media querie and vars
 */
 $breakpoint: (
    "zero":     0px,
    "phone":    600px,
    "tablet":   724px,
    "desktop":  1024px,
    "hd":       1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoint, $width) {
        $width: map_get($breakpoint, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin mq_min_max($min, $max){
    @if map_has_key($breakpoint, $min){
        $min: map_get($breakpoint, $min);
        @if map_has_key($breakpoint, $max){
            $max: map_get($breakpoint, $max);
            $max: $max - 1px;
        }
        @media only screen and (max-width: $max) and (min-width: $min) {
            @content;
        }
    }
}
/**
 * grid querie and vars
 */
 @mixin grid-container{
    clear: both;
    display: block;
    float: none;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    &::before,
    &::after{
        clear: both;
        content: '';
        display: table;
    }
    @content
}

$key: (
    "col-1":            6.5%,
    "col-2":            15%,
    "col-3":            23.5%,
    "col-4":            32%,
    "col-5":            40.5%,
    "col-6":            49%,
    "col-7":            57.5%,
    "col-8":            66%,
    "col-9":            74.5%,
    "col-10":           83%,
    "col-11":           91.5%,
    "col-12":           100%,
    "full":             100%
);

@mixin grid-column($width, $gutter: 2%) {
    @if map_has_key($key, $width) {
        $width: map_get($key, $width);
        float: left;
        margin-right: $gutter;
        width: $width;
        @content;
    }
}

.last{
    margin-right: 0 !important;
    clear: right;
    &::after{
        clear: both;
    }
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.ldnddev-gallery{
    $parent: &;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    padding: 0;
    &__items{
        @include grid-container();
    }
    &.-two{
        #{$parent}__item{
            @include mq(tablet){
                @include grid-column(col-6);
                &:nth-child(2n){
                    margin-right: 0px;
                }
                &:nth-child(2n+1){
                    clear: both;
                    content: '';
                    display: table;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &.-three{
        #{$parent}__item{
            @include mq(tablet){
                @include grid-column(col-4);
                &:nth-child(3n){
                    margin-right: 0px;
                }
                &:nth-child(3n+1){
                    clear: both;
                    content: '';
                    display: table;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &.-four{
        #{$parent}__item{
            @include mq(tablet){
                @include grid-column(col-3);
                &:nth-child(4n){
                    margin-right: 0px;
                }
                &:nth-child(4n+1){
                    clear: both;
                    content: '';
                    display: table;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__item{
        // TODO
    }
    &__image{
        // TODO
    }
    &__video{
        position: relative;
        padding-top: 25px;
        padding-bottom: 56.25%;
        height: 0 !important;
        & iframe{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }
    &__caption{        
        color: $brand-01;
        text-transform: uppercase;
    }
}