<div class="ldnddev-gallery__item">
    <div class="ldnddev-gallery__video">
        {{ content.field_ldnddev_gallery_video }}
    </div>
    <div class="ldnddev-gallery__caption">
        {{ content.field_ldnddev_gallery_caption }}
    </div>
</div>